@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Navbar */

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    margin: 0 auto;
}

nav {
    width: 100%;
    background-color: rgb(243, 240, 240);
    padding: 0.5rem 0;
    top: 0;
    z-index: 10;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    background-color: white;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
}

.search-bar input[type="search"] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    border: 0;
    outline: none;
}

nav .button a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    margin-left: 50px;
}


/* Search */

.hero-area {
    padding-top: 200px;
    padding-bottom: 150px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.hero-area::after {
    content: "";
    clear: both;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-caption h2 {
    font-size: 42px;
    font-weight: 700;
    color: black;
    margin-top: -70px;
}

.h-search-form {
    width: 50%;
    position: absolute;
    margin-left: 230px;
}

.h-search-form input {
    width: 100%;
    padding: 0 30px;
    border-radius: 50px;
    border: 1;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    position: relative;
    color: black;
    height: 70px;
}

.h-search-form button {
    position: absolute;
    right: 6px;
    height: 60px;
    border: none;
    color: white;
    background: blue;
    top: 5px;
    border-radius: 50px;
    width: 100px;
}

.h-search-form button:hover {
    background-color: blue;
}

.card-container {
    margin-top: 250px;
    margin-left: 290px;
    justify-content: center;
}

.card-container-ha {
    margin-top: 30px;
    margin-left: 290px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.card {
    margin-top: 25px;
}

a {
    text-decoration: none;
}




/*tags*/

.tags-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.tag {
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #ccc;
    border-radius: 10px;
    font-size: 14px;
    color: #333;
}

.button {
    display: flex;
    justify-content: flex-end;
}

#assistant-btn {
    position: fixed;
    bottom: 20px;
    right: 17px;
    top: 22cm;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
}


/*form*/

.form-group {
    display: flex;
    justify-content: space-between;
}

.form-group label {
    margin-right: 10px;
}

body {
    height: 100%;
}

.container-fluid {
    height: 100%;
}

.row {
    height: 100%;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.bg-white {
    background-color: #fff !important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}


/*--------------------- Rating star -----------------*/
.rating {
    direction: rtl;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    cursor: pointer;
    color: #bbb;
}

.rating input[type="radio"]:checked+label,
.rating input[type="radio"]:hover+label,
.rating label:hover~label {
    color: #f8c102;
}

.back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999;
}

.back-to-top-btn:hover {
    background-color: #555;
}


/* =========================About css======================================== */
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
}

.timeline>li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}

.timeline>li:after,
.timeline>li:before {
    display: table;
    content: " ";
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: #ffc800;
}

.timeline>li .timeline-image h4,
.timeline>li .timeline-image .h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4,
.timeline .timeline-heading .h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading,
.timeline .timeline-heading .subheading.h4 {
    text-transform: none;
}

.timeline .timeline-body>ul,
.timeline .timeline-body>p {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .timeline:before {
        left: 50%;
    }
    .timeline>li {
        min-height: 100px;
        margin-bottom: 100px;
    }
    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }
    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }
    .timeline>li .timeline-image h4,
    .timeline>li .timeline-image .h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .timeline>li {
        min-height: 150px;
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }
    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .timeline>li .timeline-image h4,
    .timeline>li .timeline-image .h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 30px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media (min-width: 1200px) {
    .timeline>li {
        min-height: 170px;
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }
    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .timeline>li .timeline-image h4,
    .timeline>li .timeline-image .h4 {
        margin-top: 40px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

.team-member {
    margin-bottom: 3rem;
    text-align: center;
}

.team-member img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}

.team-member h4,
.team-member .h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.img-brand {
    height: 2.75rem;
}

#contents::-webkit-scrollbar {
    display: none;
}

#contents {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#container {
    width: 1000px;
    margin: 20px auto;
}

.ck-editor__editable[role="textbox"] {
    /* editing area */
    min-height: 200px;
}

.ck-content .image {
    /* block images */
    max-width: 80%;
    margin: 20px auto;
}


/*accordion*/

.link-dark {
    transition: color 0.3s ease-in-out;
}

.link-dark:hover {
    color: #6498E5;
}

.list-group-item {
    transition: color 0.3s ease-in-out;
}

.list-group-item:hover {
    color: #6498E5;
}


/*tags*/

.tags-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.tag {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #ccc;
    border-radius: 10px;
    font-size: 14px;
    color: #333;
}

.accordion {
    max-width: 1300px !important;
    margin: 50px auto;
    box-shadow: 0 2px 25px 0 rgba(110, 130, 208, .18) !important;
}

.accordion-button {
    background-color: rgb(74, 173, 219) !important;
    color: #fff !important;
    position: relative;
    box-shadow: none !important;
}

.accordion-button:active, .accordion-button:focus {
    border: none !important;
}

.accordion-button:hover {
    background: rgb(0, 204, 255) !important;
}

.accordion-button::after {
    content: "";
    transform: scale(1.2);
    border-radius: 3px;
    transition: .5s !important;
}